slack_bot_token:  'xoxb-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
twitch_client_id: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'             
filename:         '/path/to/file/twitch_live.txt'
bot_name:         'team-bot'
slack_channel:    'streaming'
use_attachments:  '0' # Please see comments in subroutine: started_streaming

# Lowercase twitch usernames
streamers:
  - 'streamer1'
  - 'streamer2'
  - 'streamer3'
  - 'streamer4'
